*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background: url("https://images.unsplash.com/photo-1575652382549-3d824aca89bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.616);
}
#group{
    margin-top: 20px;
    margin-bottom: 20px;
}
.screen{
    font-size:5rem;
}
.card-body{
    height: min-content;
    width: auto;
}
.card{
    margin-top: 80px;
    margin-bottom: 50px;
}

 @media only screen and (min-width:992px)
{
#group{
    margin-top: 160px;
}
} 
@media only screen and (max-width:767px)
{
    .screen{
        font-size:3rem;
    }
    .card{
       margin-left: 10px;
       margin-right: 10px;
    }
}